@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Brandon";
    src: url("../public/Brandon.otf") format("opentype");
}

@font-face {
    font-family: "Brandon-Italic";
    src: url("../public/Brandon-Italic.otf") format("opentype");
}

body{
    background-color: white;

}